<nav>
    <a href="/">Home</a>
    <a href="/dogs/new">Add a Friend</a>
    <a href="/dogs">Doggie Family</a>
    <a href="/dogs/calendar">Calendar</a>
    <a href="/">Contact Us</a>
    <a href="/links">Links</a>
</nav>