<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Doggie Home</title>
  </head>
  <%- include('./partials/nav') %>
  <body>
    <h1>Welcome to Doggie Care!</h1>
    <p>A Day Care and Boarding App for Our Furry Friends!</p>
    <img
    class="fetch-dog"
    src="Dog Playing Fetch (No Background).png"
    alt="dog playing fetch"
  />
  </body>
  <footer>Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a></footer>
</html>