<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doggie Home</title>
  </head>
  <%- include('./partials/nav') %>
  <body>
    <h1>Welcome to the Doggie Care!</h1>
    <p>A Day Care and Boarding App for Our Furry Friends!</p>
  </body>
</html>